<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/Institute_logo.svg"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="{{ site.baseurl }}/people/" class="dropdown-toggle" data-toggle="dropdown">ABOUT<span class="caret"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}/about/">Mission</a></li>
                        <li><a href="{{ site.baseurl }}/about/#leadership">Leadership</a></li>
                        <li><a href="{{ site.baseurl }}/about/#advisors">Advisory Board</a></li>
                        <li><a href="{{ site.baseurl }}/about/#house">The Research Institute House</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="{{ site.baseurl }}/people/" class="dropdown-toggle" data-toggle="dropdown">PEOPLE<span class="caret"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}/people/">Community</a></li>
                        <li><a href="{{ site.baseurl }}/people/#staff">Staff</a></li>
                        <li><a href="{{ site.baseurl }}/people/#interns">Interns</a></li>
                        <li><a href="{{ site.baseurl }}/people/#volunteers">Volunteers</a></li>
                        <li><a href="{{ site.baseurl }}/people/#associates">Associates</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="{{ site.baseurl }}/projects/" class="dropdown-toggle" data-toggle="dropdown">RESEARCH<span class="caret"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}/projects/">Projects @ CCAC</a></li>
                        <li><a href="/ResearchReports/ResearchDatabase/database_home.asp" target="_blank">Data @ CCAC</a></li>
                        <li><a href="https://github.com/crowcanyon" target="_blank">Code @ CCAC <i class="fa fa-github fa-lg"></i></a></li>
                        <li><a href="/access-our-research/site-reports-databases" target="_blank">CCAC Site Reports</a></li>
                        <li><a href="{{ site.baseurl }}/publications/" target="_blank">CCAC Publications</a></li>
                    </ul>
                </li>

                <li><a href="{{ site.baseurl }}/news/">NEWS</a></li>

                <li><a href="{{ site.baseurl }}/donate/">DONATE</a></li>

                <!--                <li><a href="mailto:institute@crowcanyon.org" target="_top">CONTACT</a></li>-->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">CONTACT<span class="caret"/></a>
                    <ul class="dropdown-menu" style="width: 300px">
                        <li style="line-height: 20px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mark D. Varien
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Executive Vice President
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;phone: 970.565.8975
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email: <a href="mailto:institute@crowcanyon.org" target="_top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;institute@crowcanyon.org</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;post:
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;23390 Road K
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cortez, CO 81321
                        </li>
                    </ul>
                </li>

                <li><a href="/" target="_blank">CROWCANYON.ORG</a></li>

            </ul>

        </div>
        <!--/.nav-collapse -->

    </div>
</nav>